body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s linear;
}

.main-container {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;  
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav-link {
    text-align: left;
    min-width: 144px;
}

.preview-vid {
    border: 2px solid black;
    /* margin: 5px 20px; */
    width: 300px;
    height: 200px;
    object-fit: cover;
}

.video-preview {
    cursor: pointer;
    height: 210px;
}

.tabs {
    height: 62vh;
    min-width: 575px;
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
}

.tab-pane {
    height: 53vh;
    min-width: 368px;
    padding: 0 20px;
}

.range-and-button {
    display: flex;
    justify-content: space-between;
}

.h6 {
    font-size: 17px;
    color: rgb(187, 187, 187);
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 0.8px;
    margin-top: 0;
    margin-bottom: 10px;
}

.modal-header {
    border: none;
}

.pill-buttons-column {
    border-right: 1px solid rgb(187, 187, 187);
    margin-right: 3px;
}

.timer-settings-container {
    display: flex;
    width: 350px;
    justify-content: space-between;
}

.timer-settings {
    display: flex;
    min-width: 115px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#timer {
    margin: 10px auto;
    font-size: 128px;
    color: white; 
    font-family: "Space Grotesk",sans-serif;
    letter-spacing: -0.25rem;
    font-variant-numeric: tabular-nums;
}

.main-button {
    cursor: pointer;
}

.main-button:hover {
    opacity: .7;
}

.icon-button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    background-color: transparent;
}

.hide {
    display: none;
}

#logo {
    position: absolute;
    margin: 0 auto;
    top: 8%;
    overflow: hidden;
    height: 140px;
  width: 380px;
  object-fit: cover;
}

#start-pause-btn {
    color: #000;
    background-color: #fff;
    
    border: 1px solid #fff;
    border-radius: 500px;
    min-width: 128px;
    text-transform: lowercase;
    /* padding: 0.2rem 1rem; */
    padding: 0;
    font-size: 1.5rem;
    font-family: "Space Grotesk",sans-serif;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-weight: 500;
    line-height: 1.25;
    height: 60px;
}

#start-pause-btn:hover {
    color: #fff;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0); */
    /* border-color: #fff; */
}
#start-pause-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(7,78,120,.25);
}

