body {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
    height: 100vh;
}

.background-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    filter: brightness(80%);
}

.preloader {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: white;
    display: grid;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transition: 0.3s linear;
}

.container {
    transition: filter 0.4s;
}

.container.background-on {
    filter: blur(5px) brightness(.7);
}

.main-container {
    margin: 0;
    /*max-width: 400px;
     text-align: center;
    padding: 20px; */
    /* opacity: .6; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
}

.button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}
/*
.modal {
     width: 444px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .3);
    opacity: 1;
    transition: all 0.7s;
    background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); 
}*/
.tabs {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 680px;
    height: 360px;
    padding: 30px 20px;
    /* background: #f5f5f5; */
    /* background-image: radial-gradient( circle 311px at 8.6% 27.9%,  rgba(62,147,252,0.57) 12.9%, rgba(239,183,192,0.44) 91.2% ); */
    /* background: radial-gradient(circle, rgba(226,238,174,1) 0%, rgba(148,233,193,1) 100%); */
    /* background: radial-gradient(circle, rgba(231,177,133,1) 0%, rgba(241,32,21,1) 100%); */
    background-image: linear-gradient( 174.2deg,  rgba(255,244,228,1) 7.1%, rgba(240,246,238,1) 67.4% );
    box-shadow: 5px 5px 10px 5px #ccc;
    overflow: hidden;
}

.tabs .headers {
    float: left;
    width: 180px;
    height: 100%;
    border-right: 1px solid #ccc;
    padding: 50px 0px;
}

.tabs .headers > div {
    height: 50px;
    line-height: 50px;
    font-size: 16px;
    font-weight: 600;
    color: #888;
    cursor: pointer;
    padding-left: 10px;
}

.tabs .headers > div:hover,
.tabs .headers > div.active {
    color: #00acee;
}

.tabs .headers div i {
    display: inline-block;
    margin-left: 10px;
    margin-right: 5px;
}

.tabs .tab-content-container {
    position: relative;
    height: 100%;
/*     width: 639px;*/ 
    overflow: hidden;
}

.tabs .tab-content-container > div > i {
    display: inline-block;
    width: 50px;
    height: 50px;
    background: #555;
    color: #f5f5f5;
    font-size: 25px;
    font-weight: 600;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.tabs .tab-content-container > div {
    position: absolute;
    text-align: center;
    padding: 40px 20px;
    top: -200%;
    transition: top 500ms ease-in-out;
}

.tabs .tab-content-container > div.active {
    top: 0px;
    /* transition: top 500ms ease-in-out; */
}

.tabs .tab-indicator {
    position: absolute;
    width: 4px;
    height: 50px;
    background-color: #00acee;
    left: 198px;
    top: 80px;
    transition: top 500ms ease-in-out;
}

.label {
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: lightgray;
    border-radius: 20px;
    cursor: pointer;
}

.checkbox {
    visibility: hidden;
}

.checkbox:checked + .label {
    background-color: rgb(157 51 199 / 80%);
}

.checkbox:checked + .label .circle {
    animation: toggleOn .3s linear forwards;
}

.circle {
    width: 34px;
    height: 34px;
    background-color: whitesmoke;
    border-radius: 50%;
    top: 3px;
    left: 3px;
    position: absolute;
    animation: toggleOff 0.3s linear forwards;
    /* width: 200px;
    height: 200px;
    background-color: crimson; */
}

/* .grid-container {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: 222px 222px;
    grid-template-rows: repeat(2, 30px 111px);
    
    justify-content: center;
    align-content: center;
}

.grid-item {
    align-self: center;
    justify-self: center;
} */

.config-header {
    grid-column: span 2;
}



.settings-btn {
    position: absolute;
    display: flex;
    top: 2px;
    right: 2px;
    cursor: pointer;
    padding: 3px;
}

.preview-btn {
    margin: 0 auto;
    display: flex;
    padding: 3px;
    margin-top: 10px;
    cursor: pointer;
}

/* .settings-icon {
    margin-right: 5px;
    margin-top: 0.5px;
} */

.preview-icon{
    margin-right: 5px;
    margin-top: 0.8px;
}

.close-icon {
    position: absolute;
    top: 2px;
    right: 4px;
    cursor: pointer;
}

.close-icon:hover {
    color: orangered;
}

.config-select {
    width: 123px;
}

.preview-vid {
    border: 2px solid black;
    /* margin: 5px 20px; */
    width: 150px;
    height: 100px;
    object-fit: cover;
}

.video-preview {
    cursor: pointer;
    height: 110px;
}

.video-header {
    border-top: 1px solid black;
}

.title {
    font-size: 36px;
    margin-bottom: 10px;
    color: #ffbd00;
}

#timer {
    margin: 10px auto;
    font-size: 128px;
    color: white; 
    font-family: "Space Grotesk",sans-serif;
    letter-spacing: -0.25rem;
    font-variant-numeric: tabular-nums;
}

.main-button {
    /* font-size: 18px;
    padding: 10px 20px;
    margin: 10px;
    color: whitesmoke; */
    /* background-color: #2c3e50; */
    /* border: none;
    border-radius: 5px; */
    cursor: pointer;
    /* text-transform: uppercase;
    transition: opacity .3s ease-in-out; */
}

.main-button:hover {
    opacity: .7;
}
#logo {
    /* height: 110px;
    width: 220px; */
    position: absolute;
    margin: 0 auto;
    top: 8%;
    overflow: hidden;
    height: 140px;
  width: 380px;
  object-fit: cover;
  /* object-position: bottom; */
}

#start-pause-btn {
    color: #000;
    background-color: #fff;
    
    border: 1px solid #fff;
    border-radius: 500px;
    min-width: 128px;
    text-transform: lowercase;
    /* padding: 0.2rem 1rem; */
    padding: 0;
    font-size: 1.5rem;
    font-family: "Space Grotesk",sans-serif;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    text-align: center;
    vertical-align: middle;
    user-select: none;
    font-weight: 500;
    line-height: 1.25;
    height: 60px;
}

#start-pause-btn:hover {
    color: #fff;
    background-color: transparent;
    /* background-color: rgba(0,0,0,0); */
    /* border-color: #fff; */
}
#start-pause-btn:focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(7,78,120,.25);
}


.icon-button {
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    font-size: 2.5rem;
    background-color: transparent;
}

@keyframes toggleOn {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(40px);
    }
}
@keyframes toggleOff {
    0% {
        transform: translateX(40px);
    }
    100% {
        transform: translateX(0);
    }
}